@model System.String

@{
    ViewData["Title"] = "Accepted";
}

<h1>Your payment was accepted</h1>

@*<p>@Html.Raw(ViewBag.returnUrl)</p>*@

@*<a href="@ViewBag.returnUrl" class="btn btn-primary">Return to your website</a>*@